{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <h1><i class="fa fa-globe" aria-hidden="true"></i> {{ domain.name }} <small>- Record list</small></h1>
    <hr>

    <button class="btn btn-primary button addNewButton" data-bind="click: $root.addRecord, enable: !$root.isAnyItemEditing()"><i class="fa fa-plus" aria-hidden="true"></i> Add Record</button>
    {% if domain_access.permission == 10 %}
        <a class="btn btn-warning" href="{% url 'domain-users' domain.id %}"><i class="fa fa-users" aria-hidden="true"></i> Users</a>
    {% endif %}
    <a class="btn btn-info" href="{% url 'domain-api' domain.id %}"><i class="fa fa-server" aria-hidden="true"></i> API</a>
    <hr>

    <div class="card records-card shadow">
        <div class="card-body">
            <table class="table table-hover table-sm">
                <thead>
                <tr>
                    <!-- <th style="width:5%;">#</th> -->
                    <th style="width:15%;">Name</th>
                    <th style="width:10%;" class="text-center">Type</th>
                    <th style="width:50%;">Content</th>
                    <th style="width:5%;">Prio</th>
                    <th style="width:5%;" class="text-center">TTL</th>
                    <th style="width:15%;"></th>
                </tr>
                </thead>

                <!-- ko if: $root.loading_records() -->
                <tbody data-bind="visible: $root.loading_records()">
                <tr>
                    <td colspan="6" class="text-center">
                        <!-- <i class="fa fa-spinner fa-spin fa-fw fa-5x"></i> -->
                        <img src="{% static 'loader/Ellipsis.gif' %}">
                    </td>
                </tr>
                </tbody>
                <!-- /ko -->

                <!-- ko if: !$root.loading_records() -->
                <tbody data-bind="foreach: records, visible: !$root.loading_records()" style="display: none;">
                <tr>
                    <!-- <th style="vertical-align: middle;" scope="row" data-bind="text: id"></th> -->
                    <td style="vertical-align: middle; /*border-left: 2px solid;*/" data-bind="style: {'border-left': type() == 'A' ? '0px solid' : '2px solid', 'border-left-color': color() }">
                        <div class="input-group input-group-sm">
                            <input style="display: none;" type="text" class="form-control form-control-sm" data-bind="value: strippedName.editValue, visible: $root.isItemEditing($data)"
                                   aria-label=".{{ domain.name }}" aria-describedby="basic-addon2">
                            <span style="display: none;" class="input-group-addon" id="basic-addon2" data-bind="visible: $root.isItemEditing($data)">.{{ domain.name }}</span>
                            <!--<input style="display: none;" type="text" class="form-control form-control-sm" data-bind="value: name.editValue, visible: $root.isItemEditing($data)">-->
                        </div>
                        <a style="font-size: .875rem;" class="read" data-bind="text: name, visible: !$root.isItemEditing($data)"></a>
                    </td>
                    <td style="vertical-align: middle;" class="text-center">
                        <select style="display: none;" class="form-control form-control-sm edit"
                                data-bind="options: $root.availableRecords, value: type.editValue, visible: $root.isItemEditing($data)"></select>
                        <strong><a class="read" data-bind="style: { color: color() }, text: type, visible: !$root.isItemEditing($data)"></a></strong>
                    </td>
                    <td style="vertical-align: middle;">
                        <input id="content" style="display: none;" type="text" class="form-control form-control-sm" data-bind="value: content.editValue, visible: $root.isItemEditing($data)">
                        <a style="font-size: .875rem;" class="read" data-bind="text: content, visible: !$root.isItemEditing($data)"></a>
                    </td>
                    <td style="vertical-align: middle; color: #979797;" class="text-center">
                        <input style="display: none;" type="text" class="form-control form-control-sm" data-bind="value: prio.editValue, visible: $root.isItemEditing($data)">
                        <a class="read" data-bind="text: prio, visible: !$root.isItemEditing($data) && prio() > 0"></a>
                    </td>
                    <td style="vertical-align: middle; color: #979797;" class="text-center">
                        <input style="display: none;" type="text" class="form-control form-control-sm" data-bind="value: ttl.editValue, visible: $root.isItemEditing($data)">
                        <span data-bind="visible: !$root.isItemEditing($data)" style="font-size: .975rem;"><i class="fa fa-clock-o" style="padding-right: 0.3rem;"></i><a class="read"
                                                                                                                                                                          data-bind="text: ttl"></a></span>
                    </td>
                    <td class="tools text-center">
                        <button class="btn btn-outline-primary btn-sm button toolButton"
                                data-bind="click: $root.editRecord.bind($root), visible: !$root.isItemEditing($data), enable: !$root.isAnyItemEditing()">Edit
                        </button>
                        <button class="btn btn-outline-danger btn-sm button toolButton"
                                data-bind="click: $root.removeRecord.bind($root), visible: !$root.isItemEditing($data), enable: !$root.isAnyItemEditing()">Remove <i data-bind="visible: deleting"
                                                                                                                                                                     class="fa fa-cog fa-spin fa-fw"></i>
                        </button>
                        <button class="btn btn-outline-success btn-sm button toolButton" data-bind="click: $root.applyRecord.bind($root), visible: $root.isItemEditing($data), enable: !saving() ">Apply
                            <i
                                    data-bind="visible: saving" class="fa fa-cog fa-spin fa-fw"></i></button>
                        <button class="btn btn-outline-secondary btn-sm button toolButton" data-bind="click: $root.cancelEdit.bind($root), visible: $root.isItemEditing($data), enable: !saving()">
                            Cancel
                        </button>
                    </td>
                </tr>
                </tbody>
                <!-- /ko -->
            </table>
        </div>
    </div>
{% endblock %}