{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <a href="{% url 'domain-add' %}" class="btn btn-primary pull-right" role="button" aria-pressed="true"><i class="fa fa-plus" aria-hidden="true"></i> Add Domain</a>
    <h1>Domains</h1>
    <hr>

    <div class="row">
        {% for domain in domains %}
            <div class="col-sm-4">
                <div class="card text-center shadow">
                    <div class="card-body" style="background-image: url({% static 'img/cubes.png' %})">
                        <h4 class="card-title">{{ domain.name }}</h4>
                        <h6 class="card-subtitle mb-2 text-muted"><strong>{{ domain.get_records|length }}</strong> record{% if domain.get_records|length > 1 %}s {% endif %}</h6>
                        <!--<p class="card-text"><strong>{{ domain.get_records|length }}</strong> records</p>
                        <a href="{% url 'domain' domain.id %}" class="btn btn-primary">View</a>-->
                    </div>
                    <div class="card-footer text-muted" style="padding: .4rem 1.25rem;">
                        <a href="{% url 'domain' domain.id %}" class="btn btn-primary">View</a>
                        <button type="button" class="btn btn-outline-danger">Delete</button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}